@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome To My Movie App</h1>
        <img src="https://www.iclarified.com/images/news/43999/197875/197875.png" alt="Movie">
    </div>
